Task 1.blueprint.json
{
    "name": "Task 1",
    "flow": [
        {
            "id": 1,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 11710877
            },
            "mapper": {
                "base": "appwzuwQkMTgs7nmm",
                "useColumnId": false,
                "table": "tblpoF5i7JXPpT49v",
                "maxRecords": "5",
                "fields": [
                    "Name",
                    "Email",
                    "Company_Name"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 90,
                    "y": -136
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Airtable Token or Key connection (User ID: usrDrPacFJmVH99KX)",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable3"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "Daily Reports"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Company Contacts"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Name",
                                "Email",
                                "Company_Name"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "type": "array",
                        "label": "Sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "options": [],
                                "dynamic": true
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Name",
                        "label": "Name",
                        "type": "text"
                    },
                    {
                        "name": "Email",
                        "label": "Email",
                        "type": "text"
                    },
                    {
                        "name": "Company_Name",
                        "label": "Company_Name",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.Company_Name}}{{1.Name}}{{1.Email}}"
            },
            "metadata": {
                "designer": {
                    "x": 410,
                    "y": 3
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "array",
                        "type": "array",
                        "label": "Array",
                        "mode": "edit",
                        "spec": []
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "cohere:chat",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11722263
            },
            "mapper": {
                "message": "Summarize Company {{5.value}}",
                "model": "command-r7b-12-2024",
                "response_format": {
                    "type": "text"
                },
                "temperature": "0.75",
                "p": "0.75",
                "search_queries_only": false
            },
            "metadata": {
                "designer": {
                    "x": 656,
                    "y": -215
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Cohere connection",
                            "data": {
                                "scoped": "true",
                                "connection": "cohere"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "command-r7b-12-2024"
                        },
                        "response_format": {
                            "nested": {
                                "type": {
                                    "label": "Text"
                                }
                            }
                        },
                        "chat_history": {
                            "mode": "chose"
                        },
                        "prompt_truncation": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "connectors": {
                            "mode": "chose"
                        },
                        "search_queries_only": {
                            "mode": "chose"
                        },
                        "documents": {
                            "mode": "chose"
                        },
                        "force_single_step": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:cohere",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "message",
                        "type": "text",
                        "label": "Message",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model"
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Tokens"
                    },
                    {
                        "name": "response_format",
                        "type": "collection",
                        "label": "Response Format",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "json_object"
                                    ]
                                }
                            }
                        ]
                    },
                    {
                        "name": "preamble",
                        "type": "text",
                        "label": "Preamble"
                    },
                    {
                        "name": "chat_history",
                        "type": "array",
                        "label": "Chat History",
                        "spec": {
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": [
                                        {
                                            "label": "CHATBOT",
                                            "value": "CHATBOT"
                                        },
                                        {
                                            "label": "USER",
                                            "value": "USER"
                                        }
                                    ],
                                    "required": true
                                },
                                {
                                    "name": "message",
                                    "type": "text",
                                    "label": "Message",
                                    "required": true
                                },
                                {
                                    "name": "generation_id",
                                    "type": "text",
                                    "label": "Generation ID"
                                },
                                {
                                    "name": "response_id",
                                    "type": "text",
                                    "label": "Response ID"
                                }
                            ],
                            "type": "collection",
                            "label": "Chat",
                            "name": "value"
                        }
                    },
                    {
                        "name": "conversation_id",
                        "type": "text",
                        "label": "Conversation ID"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "k",
                        "type": "uinteger",
                        "label": "Top K",
                        "validate": {
                            "max": 500,
                            "min": 0
                        }
                    },
                    {
                        "name": "p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 0.99,
                            "min": 0.01
                        }
                    },
                    {
                        "name": "prompt_truncation",
                        "type": "select",
                        "label": "Prompt Truncation",
                        "validate": {
                            "enum": [
                                "AUTO",
                                "AUTO_PRESERVE_ORDER",
                                "OFF"
                            ]
                        }
                    },
                    {
                        "name": "connectors",
                        "type": "array",
                        "label": "Connectors",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "select",
                                    "label": "ID",
                                    "options": [],
                                    "required": true,
                                    "validate": false,
                                    "dynamic": true
                                },
                                {
                                    "name": "user_access_token",
                                    "type": "text",
                                    "label": "User Access Token"
                                },
                                {
                                    "name": "continue_on_failure",
                                    "type": "boolean",
                                    "label": "Continue On Failure",
                                    "required": true
                                },
                                {
                                    "name": "options",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Options"
                                }
                            ],
                            "type": "collection",
                            "label": "Connector",
                            "name": "value"
                        }
                    },
                    {
                        "name": "search_queries_only",
                        "type": "boolean",
                        "label": "Search Queries Only",
                        "required": true
                    },
                    {
                        "name": "documents",
                        "type": "array",
                        "label": "Documents",
                        "spec": {
                            "spec": {
                                "spec": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value",
                                        "required": true
                                    }
                                ],
                                "type": "collection",
                                "label": "Field"
                            },
                            "type": "array",
                            "label": "Document",
                            "labels": {
                                "add": "Add document field"
                            },
                            "required": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_results",
                        "type": "any",
                        "label": "Tool Results"
                    },
                    {
                        "name": "projectNameForRequest",
                        "type": "text",
                        "label": "Project Name"
                    },
                    {
                        "name": "force_single_step",
                        "type": "boolean",
                        "label": "Force Single Step"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "google-docs:createADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11711125
            },
            "mapper": {
                "name": "Daily Report {{1.Company_Name}}",
                "content": "{{7.text}}{{`7`}}",
                "destination": "drive",
                "header": false,
                "footer": false,
                "folderId": "/1ctG8z2_iim2ZBG8T0yL5V8_xeiTisOyz"
            },
            "metadata": {
                "designer": {
                    "x": 917,
                    "y": 20
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (pranalishinde0909@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "destination": {
                            "label": "My Drive"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "My"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "header",
                        "type": "boolean",
                        "label": "Insert a Header",
                        "required": true
                    },
                    {
                        "name": "footer",
                        "type": "boolean",
                        "label": "Insert a Footer",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "slack:CreateMessage",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 11724348
            },
            "mapper": {
                "channelWType": "list",
                "text": "{{1.Company_Name}}{{7.text}}{{10.name}}",
                "parse": false,
                "mrkdwn": true,
                "channelType": "public",
                "channel": "C09G8ATQF2A"
            },
            "metadata": {
                "designer": {
                    "x": 1217,
                    "y": -130
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Slack (bot) connection (pranalitasks.slack.com - make)",
                            "data": {
                                "scoped": "true",
                                "connection": "slack3"
                            }
                        }
                    },
                    "expect": {
                        "channelWType": {
                            "label": "Select from the list"
                        },
                        "reply_broadcast": {
                            "mode": "chose"
                        },
                        "link_names": {
                            "mode": "chose"
                        },
                        "parse": {
                            "mode": "chose"
                        },
                        "mrkdwn": {
                            "mode": "chose"
                        },
                        "unfurl_links": {
                            "mode": "chose"
                        },
                        "unfurl_media": {
                            "mode": "chose"
                        },
                        "channelType": {
                            "label": "Public channel"
                        },
                        "channel": {
                            "mode": "chose",
                            "label": "all-pranali-tasks"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:slack2,slack3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    },
                    {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks"
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                    },
                    {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "Public channel",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}